
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
}

legend {
  border: 1px solid rgba(0, 0, 0, 0.411);
  position: relative;
  top: -2em;
  max-width: 10em;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  font-size: 2rem;
  border-radius: 5px;
}

.main-content {
  margin-top: 20em;
  margin: auto;
  margin-top: 20em;
  border: 1px solid rgba(0, 0, 0, 0.178);
  max-width: 20em;
  border-radius: 10px;
  background-color: #eeeeee3e;
}

form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

input[type="text"], #email, textarea {
  border: 1px gray solid;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 10px;
}

button {
  background-color: rgb(131, 156, 255);
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
  font-size: 15px;
  transition: 0.15s ease-in-out;
}

button:hover {
  background-color: rgb(55, 88, 220);
}



@media (min-width:40rem) {
  .form-row {
    display: flex;
    justify-content: space-between;
  }

  .main-content {
    max-width: 30rem;
  }

  input[type="text"], #email {
    width: 95%;
  }
}

@media (min-width:50rem) {
  .form-row {
    display: flex;
  }

  .main-content {
    max-width: 50rem;
  }

  input[type="text"], #email {
    width: 100%;
  }
}